absl-py==0.7.1
aiohttp==3.5.4
astor==0.7.1
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.7.1
blis==0.4.1
boto==2.49.0
boto3==1.12.46
botocore==1.15.46
bpemb==0.3.0
bs4==0.0.1
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cleo==0.6.8
Click==7.0
cloudpickle==1.3.0
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
Deprecated==1.2.9
discord.py==1.0.0a1792+gdea3ba5
docutils==0.15.2
en-core-web-sm==2.2.5
et-xmlfile==1.0.1
filelock==3.0.12
flair==0.4.5
Flask==1.0.3
future==0.18.2
gast==0.2.2
gensim==3.8.2
graphviz==0.13
grpcio==1.20.1
h5py==2.9.0
html5lib==1.0.1
hyperopt==0.2.4
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jmespath==0.9.5
joblib==0.13.2
jsonschema==3.0.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
langdetect==1.0.8
lockfile==0.12.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
matplotlib-label-lines==0.3.8
mock==3.0.5
more-itertools==7.2.0
mpld3==0.3
msgpack==0.6.1
multidict==4.5.2
murmurhash==1.0.2
mypy-extensions==0.4.3
networkx==2.4
nltk==3.4.5
numpy==1.16.2
openpyxl==2.6.2
packaging==20.3
pandas==0.24.2
pastel==0.1.0
Pillow==7.1.1
pkginfo==1.5.0.1
plac==1.1.3
pluggy==0.13.1
poetry==0.12.11
preshed==3.0.2
protobuf==3.7.1
py==1.8.1
pycparser==2.19
pylev==1.3.0
PyNaCl==1.2.1
pyparsing==2.3.1
pyrsistent==0.14.11
pytest==5.4.1
python-dateutil==2.8.0
pytz==2018.9
pywikibot==3.0.dev0
PyYAML==5.1
qwikidata==0.4.0
regex==2020.4.4
requests==2.21.0
requests-toolbelt==0.8.0
s3transfer==0.3.3
sacremoses==0.0.41
scikit-learn==0.22.2.post1
scipy==1.2.1
seaborn==0.9.0
segtok==1.5.9
sentencepiece==0.1.86
shellingham==1.3.0
six==1.12.0
smart-open==1.11.1
soupsieve==1.9.1
spacy==2.2.2
sqlitedict==1.6.0
srsly==0.2.0
stanfordnlp==0.2.0
stanza==1.0.0
tabulate==0.8.7
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
textgenrnn==1.5.0
thinc==7.3.1
tokenizers==0.5.2
tomlkit==0.5.3
torch==1.4.0
tqdm==4.32.1
transformers==2.8.0
urllib3==1.24.1
virtualenv==16.7.7
wasabi==0.4.0
wcwidth==0.1.9
webencodings==0.5.1
websockets==6.0
Werkzeug==0.15.4
wrapt==1.12.1
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.2.0
yarl==1.3.0
zipp==0.6.0
